.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  text-decoration: underline;
}

.section {
  cursor: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0%;
}

.section._2 {
  background-color: #7e7e7e;
}

.section._3 {
  background-color: #0000;
}

.text-block {
  color: #7e7e7e;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: STIX Two Text, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 36px;
}

.text-block._2 {
  opacity: .96;
  color: #352a28;
  text-align: left;
  text-transform: none;
  font-family: STIX Two Text, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

.container {
  grid-column-gap: 6vw;
  grid-row-gap: 6vw;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
}

.image {
  opacity: .96;
  width: 420px;
  min-width: 100%;
}

.image._2 {
  filter: none;
}

.left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.right {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  color: #352a28;
  background-color: #0000;
  font-family: STIX Two Text, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition: all .2s linear;
}

.button:hover {
  font-weight: 500;
}

.vflex-left-gap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  opacity: 0;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-span {
  font-style: italic;
}

.bold-text {
  text-transform: none;
}

.in-text-link {
  transition: all .1s;
}

.in-text-link:hover {
  font-weight: 500;
}

.inline-link {
  color: #352a28;
  cursor: none;
  text-decoration: none;
  transition: all .24s ease-in;
}

.inline-link:hover {
  font-weight: 500;
}

.heading {
  color: #352a28;
  text-align: left;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  font-family: Tangerine, sans-serif;
  font-weight: 400;
  display: flex;
}

.heading._2 {
  padding-bottom: 100px;
  font-family: Tangerine, sans-serif;
}

.vflex {
  flex-flow: row;
  display: flex;
}

.cursor-wrap {
  z-index: 100;
  cursor: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0%;
}

.dot {
  background-color: #352a28b8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.contact-button-holder {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.body {
  background-image: linear-gradient(#cdcdcd80, #cdcdcd80), url('../images/paper-min2.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

@media screen and (max-width: 479px) {
  .text-block._2 {
    text-align: center;
  }

  .container {
    flex-flow: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .image {
    width: 240px;
    min-width: auto;
  }

  .vflex-left-gap {
    opacity: 0;
    justify-content: center;
    align-items: center;
  }

  .heading {
    text-align: center;
  }

  .dot {
    display: none;
  }

  .body {
    background-color: #bdb5a3;
    background-image: linear-gradient(#0000, #0000);
    background-position: 0 0;
    max-height: 100vh;
  }
}


